.e_wishList {
  /* background-color: red; */
  text-align: center;
  /* border: 2px solid red; */
}

.shop_now {
  margin-left: 2rem;
  background-color: rgb(235, 125, 225);
  border: 3px solid rgb(235, 125, 225);
  border-radius: 5px;
  font-size: 17px;
  height: 2rem;
  width: 8rem;
  font-family: "Open Sans";
  font-weight: 900;
  /* margin-bottom: 1.3rem; */
  padding-bottom: 0.2rem;
}

.shop_now:hover {
  background-image: repeating-linear-gradient(
    -45deg,
    #7bdff2 1px 3px,
    #b2f7ef 3px 5px,
    #eff7f6 5px 7px,
    #f7d6e0 7px 9px,
    #f2b5d4 9px 11px
  );
  border: 3px double rgb(146, 140, 237);
}
