.wishList_container {
  display: flex;
  gap: 20px;
  /* background-image: url("bg.jpeg"); */
  /* background-color: yellow; */
  flex-wrap: wrap;
  /* border: 2px solid red; */
  padding: 0rem 1rem;
  width: 82%;
  margin: auto;
}
