.sidebar {
  /* background-color: red; */
  width: 250px;
  /* background-color: pink; */
  background-image: url("side.jpeg");
  background-position: center;
  background-size: cover;
  border: 2px dotted purple;
  padding: 0rem 2rem;
  margin-top: 1rem;
  border-radius: 0.5rem;
  /* position: sticky; */
  /* top: 6rem; */
  /* overflow-x: scroll; */
  height: fit-content;
}
.filters {
  font-size: 2rem;
  font-weight: 400;
}
/* .btn_clear {
  margin-left: 2rem;
} */

.btn_clear {
  margin-left: 2rem;
  background-color: rgb(235, 125, 225);
  border: 3px solid rgb(235, 125, 225);
  border-radius: 5px;
  font-size: 17px;
  height: 1.8rem;
  width: 4rem;
  font-family: "Open Sans";
  font-weight: 900;
  /* margin-bottom: 1.3rem; */
  padding-bottom: 0.2rem;
}

.btn_clear:hover {
  background-image: repeating-linear-gradient(
    -45deg,
    #7bdff2 1px 3px,
    #b2f7ef 3px 5px,
    #eff7f6 5px 7px,
    #f7d6e0 7px 9px,
    #f2b5d4 9px 11px
  );
  border: 3px double rgb(146, 140, 237);
}
