@import url("https://fonts.googleapis.com/css2?family=Aguafina+Script&family=Alex+Brush&family=Allura&family=Codystar:wght@300;400&family=Cookie&family=Corinthia:wght@400;700&family=Damion&family=Herr+Von+Muellerhoff&family=Italianno&family=Lovers+Quarrel&family=Monoton&family=Monsieur+La+Doulaise&family=MonteCarlo&family=Mr+Dafoe&family=Mr+De+Haviland&family=Norican&family=Open+Sans:ital,wght@1,300&family=Parisienne&family=Pinyon+Script&family=Qwitcher+Grypen:wght@400;700&family=Rubik+80s+Fade&family=Ruthie&family=Sacramento&family=Tangerine:wght@400;700&family=WindSong:wght@400;500&family=Yellowtail&display=swap");

.sign_in_container {
  height: 89vh;
  /* overflow: hidden; */
  border: 2px solid purple;
  background-image: url("bg.jpeg");
  background-position: center;
  background-size: contain;
}

.sign_in_sub_container {
  height: 400px;
  width: 500px;
  border: 4px double purple;
  margin: auto;
  margin-top: 5rem;
  background-color: white;
  text-align: center;
  border-radius: 1rem;
}

.sign_in_heading {
  text-align: center;
  /* font-family: "Tangerine", cursive;
  font-size: 4rem; */
  /* font-size: 2rem; */
}

.sign_in_email {
  height: 2.5rem;
  width: 22rem;
  border: 2px solid purple;
  margin: 0.5rem 0rem;
  border-radius: 0.5rem;
  font-size: 1rem;
  color: purple;
  font-weight: bold;
  padding-left: 0.7rem;
}

.sign_in_password {
  height: 2.5rem;
  width: 22rem;
  border: 2px solid purple;
  margin: 0.5rem 0rem;
  border-radius: 0.5rem;
  font-size: 1rem;
  color: purple;
  font-weight: bold;
  padding-left: 0.7rem;
}

.sign_in_button {
  height: 2rem;
  width: 7rem;
  border: 2px solid purple;
  margin: 0.5rem 0rem;
  border-radius: 0.5rem;
  font-size: 1.1rem;
  text-align: center;
  color: purple;
  /* font-weight: bold; */
  padding-left: 0.7rem;
  background-color: antiquewhite;
}

.sign_in_button:hover {
  background-image: repeating-linear-gradient(
    -45deg,
    #7bdff2 1px 3px,
    #b2f7ef 3px 5px,
    #eff7f6 5px 7px,
    #f7d6e0 7px 9px,
    #f2b5d4 9px 11px
  );
  border: 2px solid purple;
  cursor: pointer;
}

.sign_in_guest_button {
  height: 2rem;
  width: 10rem;
  border: 2px solid purple;
  margin: 0.5rem 0rem;
  border-radius: 0.5rem;
  font-size: 1.1rem;
  text-align: center;
  color: purple;
  /* font-weight: bold; */
  padding-left: 0.7rem;
  background-color: antiquewhite;
}

.sign_in_guest_button:hover {
  background-image: repeating-linear-gradient(
    -45deg,
    #7bdff2 1px 3px,
    #b2f7ef 3px 5px,
    #eff7f6 5px 7px,
    #f7d6e0 7px 9px,
    #f2b5d4 9px 11px
  );
  border: 2px solid purple;
  cursor: pointer;
}

.account {
  width: 10rem;
  padding: 0.1rem;
  margin: auto;
  margin-top: 1rem;
  border: 1px solid purple;
  border-radius: 0.3rem;
  padding-bottom: 0.3rem;
  color: purple;
  cursor: pointer;
}

.account:hover {
  border: 1px solid purple;
  background-color: rgb(217, 153, 217);
  color: white;
  cursor: pointer;
}
