.main_detail_container {
  background-image: url("bg.jpeg");
  height: 89vh;
  width: 100%;
  /* margin-top: -5rem; */
  border: 2px solid purple;
}

.pro_detail_container {
  border: 4px double purple;
  display: flex;
  width: 60%;
  margin: auto;
  margin-top: 5rem;
  border-radius: 5rem;
  background-color: white;
}

.other {
  /* border: 2px solid green; */
  border-radius: 0rem 5rem 5rem 0rem;
}

.pro_d_img {
  height: 30rem;
  width: 50%;
  border-radius: 5rem 0rem 0rem 5rem;
  /* object-fit: cover; */
}

.pro_d_name {
  font-family: "Open Sans";
  font-weight: 900;
  font-size: 1.5rem;
  text-align: center;
  /* border-bottom: 3px double purple; */
}

.pro_d_price {
  font-family: "Open Sans";
  font-weight: 900;
  font-size: 1.5rem;
  text-align: center;
}

.pro_d_desc {
  text-align: left;
  padding: 0rem 1.2rem;
  font-family: "Open Sans";
  font-weight: 900;
  color: rgb(92, 2, 92);
  margin: 2rem 0rem;
}

.pro_d_btn {
  background-color: rgb(247, 201, 240);
  border: 1px solid purple;
  border-radius: 5px;
  font-size: 16px;
  height: 2.2rem;
  width: 10rem;
  font-family: "Open Sans";
  font-weight: 900;
  margin: auto;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: space-around;
}

.pro_d_btn:hover {
  background-image: repeating-linear-gradient(
    -45deg,
    #7bdff2 1px 3px,
    #b2f7ef 3px 5px,
    #eff7f6 5px 7px,
    #f7d6e0 7px 9px,
    #f2b5d4 9px 11px
  );
  border: 0.5px solid pink;
}

.pro_d_gray {
  color: gray;
  font-size: 1.3rem;
}

.pro_d_colored {
  color: red;
  font-size: 1.4rem;
}
