* {
  box-sizing: border-box;
  /* overflow: hidden; */
  /* overflow-y: hidden; */
}

/* .container {
  display: flex;
  gap: 20px;
  width: 100%;
}

.products_container {
  display: flex;
  gap: 20px;
  background-color: blue;
  flex-wrap: wrap;
} */

/* .product {
  
  padding: 1rem;
  border: 2px solid black;
} */

/* .sidebar {
  width: 220px;
  background-color: pink;
} */
